*{
    margin: 0;
    padding: 0;

}



/* header start */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 60px;
  border-bottom: 1px solid #eee;
}

nav ul {
  display: flex;
  list-style: none;
  /* text-decoration: none;
    color: #333; 
    font-size: 15px; */
}

nav ul li {
  text-decoration: none;
  margin-right: 20px;
}
.common-btn{
    
    background: #2f4bff;
    color: #fff;
    border: none;
    padding: 12px 22px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

     /* header end  */
